#content {
    height: 100vh;
    width: 100%;
    float: left;
    padding: 15px;
    margin-top: 50px;
    position: absolute;
    z-index: 100;
}
@media (min-width: 550px) {
    #content {width: 50%;}
}
body {
    background: url("../background.jpg") no-repeat;
    height: 100vh;
    width: 50%;
    background-size: cover;
    background: #ecece9;
    background: linear-gradient(to bottom, #ecece9 0%,#f1f0ed 20%,#e1e1dc 100%);
    overflow-x: hidden;
}