#content {
    height: 80vh;
    width: 100%;
    float: left;
    margin-top: 50px;
    position: absolute;
    z-index: 100;
}
@media (min-width: 600px) {
    #content {width: 50%;}
}
body {
    background: #ecece9;
    background: linear-gradient(to bottom, #ecece9 0%,#f1f0ed 20%,#e1e1dc 100%);
    overflow-x: hidden;
}
p {
    padding: 3px;
}

h1 {
    padding: 2px;
}