#content {
    float: left;
    position: absolute;
    height: 100vh;
    z-index: 100;
}

@media (min-width: 720px) {
    #content {
        width: 70%;
    }
    #text {
        font-size: 1.2em !important;
    }
}

body {
    margin: 0;
    /* max-height: 100%; */
    overflow: hidden;
}

p {
    padding: 5px;
}

h1 {
    padding: 2px;
}

#bg {
    width: 100%;
    height: 100%;
    background: url("https://source.unsplash.com/category/food") center center no-repeat;
    background-size: cover;
    position: absolute;
}

#bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .6;
}

.a {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    position: absolute;
}

div#alex {
    background: url("../background.png") center center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-position-y: 100%;
    width: 100%;
    height: 100vh;
    right: -10%;
}

@media (min-width: 720px) {
    #alex {
        width: 40% !important;
    }
}

div#content {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

h1#title {
    padding-top: 3%;
}

p#text {
    font-size: 0.9em;
}

div#content {
    max-height: 100%;
    max-width: 100%;
}

div#bg {
    /* padding: 100px; */
}

div#bg * {
    padding: 100px;
}

nav {
    position: absolute;
    z-index: 999;
    /*width: 98%;
    height: 100vh;*/
    right: 0;
    top: 45vh;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: #fff;
    align-items: center;
}

nav>ul {
    list-style-type: none;
    padding: 15px;
    cursor: pointer;
}

nav {
    align-items: flex-end;
    justify-content: flex-start;
    right: 100%;
}

@media (min-width: 720px) {
    nav {
        justify-content: flex-end;
        text-align: right;
        align-items: center;
        right: 0
    }
}

.nav-container {
    position: absolute;
    /*height: 100vh;
    width: 100%;*/
    right: 0;
    bottom: 0;
    color: #76b729;
    z-index: 999;
}

i#touch {
    padding: 15px;
    font-size: 2.4em;
}

@media (min-width: 720px) {
    .nav-container {
        display: none;
    }
    .nav>ul {
        background: rgba(255, 255, 255, 0.6);
    }
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 90%;
    flex-wrap: wrap;
    position: relative;
    overflow-y: auto;
}

.referenz {
    width: 100%;
}